//------------COLORS-----------

$white:#fff;
$grey:#ccc;
$title-line:#eee;
$top-header-color:#85939f;
$grey-text:#3b4954;
$grey-post:#555;
$dark-grey:#666;
$black:#000;

$yellow:#ffae00;
$orange:#fc7100;
$pink:#e51c5e;
$magento:#ae0f8d;
$purple:#6d0fae;
$violet:#33227a;
$turquoise:#02baab;
$azure:#0c8fcc;
$greyblue:#1f2a32;

$i:0;
$nav-palette:$yellow,$orange,$pink,$magento,$purple,$violet,$azure;
$footer-menu-palette:$purple,$azure,$pink,$orange;

//------------FONTS------------

$Oxygen:'Oxygen', sans-serif;
$Lato:'Lato', sans-serif;