@media only screen and (max-width: 480px) {
  .expirience-list {
    max-width: 300px;
  }

  .expirience-list ~ .expirience-list {
    margin-top: 100px;

    .circe-big:before {
      width: 4.4rem;
      height: .7rem;
      content: '';
      transform: rotate(90deg);
      position: absolute;
      top: -60px;
      left: 66px;
      background: url("../../images/dots.png") center center no-repeat;
    }
  }
}