.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;

  &-item {
    a {
      color: $top-header-color;
      font: 400 .75rem/1.5rem $Oxygen;
      text-decoration: none;
    }
  }

  .active {
    color: $top-header-color;
    font: 400 .75rem/1.5rem $Oxygen;
  }
}